.ripple-frame {
  cursor: none;
}

.animated-frame {
  height: 68vh;
  background: #386a80;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  cursor: none;
}

.icosahedron {
  --translateValZ: 142px;
  --rotateXValue: 53deg;
  --translateValZMidTop: 105px;
  --translateValYMidTop: 94px;
  --rotateXValueMidTop: 170deg;
  --rotateXValueMidBottom: -11deg;
  --translateValYMidBottom: -24px;
  --translateValZMidBottom: 81px;
  --rotateXValueBottom: 232deg;
  --translateValZBottom: 47px;
  --translateValYBottom: 70px;

  width: 200px;
  height: 200px;
  transition: 2s;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateIcosahedeon 10s ease-in-out infinite;
}

.face {
  text-align: center;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 104px solid #0ff;
  opacity: 0.85;
  transform-origin: bottom center;
}

.face:hover {
  border-bottom-color: gold;
}

.face:nth-of-type(1) {
  transform: rotateY(0deg) rotateX(var(--rotateXValue))
    translateZ(var(--translateValZ));
}
.face:nth-of-type(2) {
  transform: rotateY(72deg) rotateX(var(--rotateXValue))
    translateZ(var(--translateValZ));
}
.face:nth-of-type(3) {
  transform: rotateY(-72deg) rotateX(var(--rotateXValue))
    translateZ(var(--translateValZ));
}
.face:nth-of-type(4) {
  transform: rotateY(144deg) rotateX(var(--rotateXValue))
    translateZ(var(--translateValZ));
}
.face:nth-of-type(5) {
  transform: rotateY(-144deg) rotateX(var(--rotateXValue))
    translateZ(var(--translateValZ));
}

.face:nth-of-type(6) {
  transform: rotateY(36deg) rotateX(var(--rotateXValueMidTop))
    translateZ(var(--translateValZMidTop))
    translateY(var(--translateValYMidTop));
}
.face:nth-of-type(7) {
  transform: rotateY(108deg) rotateX(var(--rotateXValueMidTop))
    translateZ(var(--translateValZMidTop))
    translateY(var(--translateValYMidTop));
}
.face:nth-of-type(8) {
  transform: rotateY(-36deg) rotateX(var(--rotateXValueMidTop))
    translateZ(var(--translateValZMidTop))
    translateY(var(--translateValYMidTop));
}
.face:nth-of-type(9) {
  transform: rotateY(180deg) rotateX(var(--rotateXValueMidTop))
    translateZ(var(--translateValZMidTop))
    translateY(var(--translateValYMidTop));
}
.face:nth-of-type(10) {
  transform: rotateY(-108deg) rotateX(var(--rotateXValueMidTop))
    translateZ(var(--translateValZMidTop))
    translateY(var(--translateValYMidTop));
}

.face:nth-of-type(11) {
  transform: rotateY(36deg) rotateX(var(--rotateXValueMidBottom))
    translateZ(var(--translateValZMidBottom))
    translateY(var(--translateValYMidBottom));
}
.face:nth-of-type(12) {
  transform: rotateY(108deg) rotateX(var(--rotateXValueMidBottom))
    translateZ(var(--translateValZMidBottom))
    translateY(var(--translateValYMidBottom));
}
.face:nth-of-type(13) {
  transform: rotateY(-36deg) rotateX(var(--rotateXValueMidBottom))
    translateZ(var(--translateValZMidBottom))
    translateY(var(--translateValYMidBottom));
}
.face:nth-of-type(14) {
  transform: rotateY(180deg) rotateX(var(--rotateXValueMidBottom))
    translateZ(var(--translateValZMidBottom))
    translateY(var(--translateValYMidBottom));
}
.face:nth-of-type(15) {
  transform: rotateY(-108deg) rotateX(var(--rotateXValueMidBottom))
    translateZ(var(--translateValZMidBottom))
    translateY(var(--translateValYMidBottom));
}

.face:nth-of-type(16) {
  transform: rotateY(0deg) rotateX(var(--rotateXValueBottom))
    translateY(var(--translateValYBottom))
    translateZ(var(--translateValZBottom));
}
.face:nth-of-type(17) {
  transform: rotateY(72deg) rotateX(var(--rotateXValueBottom))
    translateY(var(--translateValYBottom))
    translateZ(var(--translateValZBottom));
}
.face:nth-of-type(18) {
  transform: rotateY(-72deg) rotateX(var(--rotateXValueBottom))
    translateY(var(--translateValYBottom))
    translateZ(var(--translateValZBottom));
}
.face:nth-of-type(19) {
  transform: rotateY(144deg) rotateX(var(--rotateXValueBottom))
    translateY(var(--translateValYBottom))
    translateZ(var(--translateValZBottom));
}
.face:nth-of-type(20) {
  transform: rotateY(-144deg) rotateX(var(--rotateXValueBottom))
    translateY(var(--translateValYBottom))
    translateZ(var(--translateValZBottom));
}

.ripple {
  position: absolute;
  width: 0;
  height: 0;
  background-color: gold;
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
  pointer-events: none;
  transform: scale(0);
  animation: resize 0.75s ease-out infinite;
  opacity: 0;
}

.inner-ripple {
  height: 15px;
  width: 15px;
  position: relative;
  margin: 14%;
  align-self: center;
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
  background-color: #386a80;
}

.tagline {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  margin: 0.25em;
  color:black;
}

.tagline small {
  font-size: 1.2rem;
  font-weight: 400;
  color: #888;
}

.projects {
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
  padding-top: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  background-color: #386a80;
  padding-bottom: 2em;
}

.container-wrapper {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.container-wrapper:after {
  content: "";
  display: table;
  clear: both;
  display: flex;
  align-self: center;
}

.container {
  border-radius: 5px;
  float: left;
  width: 25em;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  background-color: aliceblue;
}

.container:hover {
  color: #386a80;
  box-shadow: #0ff 1px 1px 2px;
}

@keyframes rotateIcosahedeon {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateZ(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes animatedRipple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  80% {
    transform: scale(2.5);
    opacity: 0.2;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
